熊越/week09/意图识别  + rag问答.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: 意图识别  + rag问答
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.33@608ec1e7d07dd52e582cff58561a8c75c989951186ffc59452dfffe3d8051230
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: question-classifier
      id: 1774423598758-source-1774423883086-target
      selected: false
      source: '1774423598758'
      sourceHandle: source
      target: '1774423883086'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1774423883086-1-1774423948758-target
      selected: false
      source: '1774423883086'
      sourceHandle: '1'
      target: '1774423948758'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: answer
      id: 1774423883086-1774423888158-1774424037585-target
      selected: false
      source: '1774423883086'
      sourceHandle: '1774423888158'
      target: '1774424037585'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774423948758--1774424081766-target
      selected: false
      source: '1774423948758'
      sourceHandle: source
      target: '1774424081766'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1774424081766-source-1774424227093-target
      selected: false
      source: '1774424081766'
      sourceHandle: source
      target: '1774424227093'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1774423883086-2-1774425580912-target
      selected: false
      source: '1774423883086'
      sourceHandle: '2'
      target: '1774425580912'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774425580912-source-1774425703255-target
      source: '1774425580912'
      sourceHandle: source
      target: '1774425703255'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1774425703255-source-1774424024486-target
      source: '1774425703255'
      sourceHandle: source
      target: '1774424024486'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables: []
      height: 73
      id: '1774423598758'
      position:
        x: 25
        y: 53
      positionAbsolute:
        x: 25
        y: 53
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          name: 机器学习类提问
        - id: '2'
          name: 大模型类提问
        - id: '1774423888158'
          name: 其他分类
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        query_variable_selector:
        - '1774423598758'
        - sys.query
        selected: false
        title: 问题分类器
        type: question-classifier
        vision:
          enabled: false
      height: 208
      id: '1774423883086'
      position:
        x: 327
        y: 53
      positionAbsolute:
        x: 327
        y: 53
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - UMs+rX2Klvfv5A6lJyOQ27qVPalxg+QC5IddFVQR3EsTZujkmKsKmvVLPTGwKtAu
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1774423598758'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 90
      id: '1774423948758'
      position:
        x: 620.2944943670387
        y: -18.385146190282157
      positionAbsolute:
        x: 620.2944943670387
        y: -18.385146190282157
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1774425703255.text#}}'
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 103
      id: '1774424024486'
      position:
        x: 1206.8834831011159
        y: 108.93593686464752
      positionAbsolute:
        x: 1206.8834831011159
        y: 108.93593686464752
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: 你的提问知识库并不包含
        selected: false
        title: 直接回复 2
        type: answer
        variables: []
      height: 100
      id: '1774424037585'
      position:
        x: 640.9710647569852
        y: 251.6165567178241
      positionAbsolute:
        x: 640.9710647569852
        y: 251.6165567178241
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774423948758'
          - result
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 5d8da5ab-2ef8-48de-b5e8-8d1c561a6992
          role: system
          text: 你是一个机器学习文档专家，按照用户提问，回答问题
        selected: false
        title: LLM 2
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774424081766'
      position:
        x: 911.8478876074851
        y: -18.385146190282157
      positionAbsolute:
        x: 911.8478876074851
        y: -18.385146190282157
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1774424081766.text#}}'
        selected: false
        title: 直接回复 3
        type: answer
        variables: []
      height: 103
      id: '1774424227093'
      position:
        x: 1206.8834831011159
        y: -18.385146190282157
      positionAbsolute:
        x: 1206.8834831011159
        y: -18.385146190282157
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - mMLrxTwO1IE6mgcsZ4JqKk4ouEwzoIZvjiNgkcHWAgZrmKZ+YwQYYB4kh+wvqv9k
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: qwen3-rerank
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1774423598758'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: 知识检索 2
        type: knowledge-retrieval
      height: 90
      id: '1774425580912'
      position:
        x: 640.9710647569852
        y: 118.37504658352677
      positionAbsolute:
        x: 640.9710647569852
        y: 118.37504658352677
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774425580912'
          - result
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: 6eca0926-6195-4939-b65e-e103074819aa
          role: system
          text: 你是一个大模型应用专家，根据检索出的知识内容，生成回复内容
        selected: false
        title: LLM 3
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774425703255'
      position:
        x: 928.0379861420237
        y: 113.53073028463567
      positionAbsolute:
        x: 928.0379861420237
        y: 113.53073028463567
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -71.98971420529574
      y: 233.83240478953968
      zoom: 0.8705505632961241
  rag_pipeline_variables: []
