乔石/week09/作业2-智能问答助手.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: 智能助手
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/tongyi:0.1.33@608ec1e7d07dd52e582cff58561a8c75c989951186ffc59452dfffe3d8051230
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 20
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: question-classifier
      id: 1774365290099-source-1774365920233-target
      source: '1774365290099'
      sourceHandle: source
      target: '1774365920233'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1774365920233-1-1774366014581-target
      source: '1774365920233'
      sourceHandle: '1'
      target: '1774366014581'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774366014581--1774366031059-target
      source: '1774366014581'
      sourceHandle: ''
      target: '1774366031059'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: knowledge-retrieval
      id: 1774365920233-2-1774366048692-target
      source: '1774365920233'
      sourceHandle: '2'
      target: '1774366048692'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1774366048692--1774366067887-target
      source: '1774366048692'
      sourceHandle: ''
      target: '1774366067887'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1774366067887--1774366072114-target
      source: '1774366067887'
      sourceHandle: ''
      target: '1774366072114'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: question-classifier
        targetType: llm
      id: 1774365920233-1774365989468-1774366076651-target
      source: '1774365920233'
      sourceHandle: '1774365989468'
      target: '1774366076651'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1774366076651--1774366080687-target
      source: '1774366076651'
      sourceHandle: ''
      target: '1774366080687'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1774366031059--1774366961526-target
      source: '1774366031059'
      sourceHandle: ''
      target: '1774366961526'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 用户输入
        type: start
        variables: []
      height: 73
      id: '1774365290099'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        classes:
        - id: '1'
          name: 机器学习类提问
        - id: '2'
          name: 大模型类提问
        - id: '1774365989468'
          name: 其他类型提问
        instructions: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        query_variable_selector:
        - '1774365290099'
        - sys.query
        selected: false
        title: 问题分类器
        type: question-classifier
        vision:
          enabled: false
      height: 208
      id: '1774365920233'
      position:
        x: 406.73048771175286
        y: 240.91072914300565
      positionAbsolute:
        x: 406.73048771175286
        y: 240.91072914300565
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 0w4i/aos11PwwxEtbNw1RtNFZg05CKy4qPIYgli0Ct/784eINxgrrhUwqQUMxlg4
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank-v2
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1774365290099'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 90
      id: '1774366014581'
      position:
        x: 806.2434959039178
        y: 82.82145828601142
      positionAbsolute:
        x: 806.2434959039178
        y: 82.82145828601142
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774366014581'
          - result
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: dd809681-498a-4a3b-bf01-5100ccc21682
          role: system
          text: 你是机器学习专家
        - id: b5928d44-4a15-455c-a7f4-491e6ba2532d
          role: user
          text: '用户提问：{{#sys.query#}}

            请基于以下文本回答：{{#context#}}'
        selected: false
        title: LLM 2
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774366031059'
      position:
        x: 1127.450603578132
        y: 82.82145828601142
      positionAbsolute:
        x: 1127.450603578132
        y: 82.82145828601142
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - 6VikKmAE6ogXD6G92xd0+721oyNSUdkRzHxdfyxrYa69lRhNMKnVxY77rnt304Ax
        multiple_retrieval_config:
          reranking_enable: true
          reranking_mode: reranking_model
          reranking_model:
            model: gte-rerank-v2
            provider: langgenius/tongyi/tongyi
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1774365290099'
        - sys.query
        retrieval_mode: multiple
        selected: false
        title: 知识检索 2
        type: knowledge-retrieval
      height: 90
      id: '1774366048692'
      position:
        x: 825.4506035781319
        y: 303
      positionAbsolute:
        x: 825.4506035781319
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1774366048692'
          - result
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: ddbda6ae-0283-4754-b977-b1e8ac651068
          role: system
          text: 你是大模型专家
        - id: 167129dc-5e3a-43be-9dd5-4dc294419a2c
          role: user
          text: '用户提问：{{#sys.query#}}

            基于以下文本回答问题：{{#context#}}'
        selected: false
        title: LLM 3
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774366067887'
      position:
        x: 1121.5407242937583
        y: 303
      positionAbsolute:
        x: 1121.5407242937583
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1774366067887.text#}}'
        selected: false
        title: 直接回复 3
        type: answer
        variables: []
      height: 103
      id: '1774366072114'
      position:
        x: 1429.450603578132
        y: 303
      positionAbsolute:
        x: 1429.450603578132
        y: 303
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - sys
          - query
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: qwen3.5-plus
          provider: langgenius/tongyi/tongyi
        prompt_template:
        - id: b3ad48e8-fb4b-40a7-a103-77cd6b9ddc9c
          role: system
          text: 你是聊天助手
        - id: 6b4af491-86ec-4fab-a2c5-bb87f99cb1d6
          role: user
          text: 请回答：{{#sys.query#}}
        selected: false
        title: LLM 4
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1774366076651'
      position:
        x: 798.8561467984507
        y: 429.4696475516156
      positionAbsolute:
        x: 798.8561467984507
        y: 429.4696475516156
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1774366076651.text#}}'
        selected: false
        title: 直接回复 4
        type: answer
        variables: []
      height: 103
      id: '1774366080687'
      position:
        x: 1140.7478319679726
        y: 463.4514534367639
      positionAbsolute:
        x: 1140.7478319679726
        y: 463.4514534367639
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1774366031059.text#}}'
        selected: false
        title: 直接回复 3
        type: answer
        variables: []
      height: 103
      id: '1774366961526'
      position:
        x: 1429.450603578132
        y: 82.82145828601142
      positionAbsolute:
        x: 1429.450603578132
        y: 82.82145828601142
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -224.49228732415907
      y: 106.96397842788224
      zoom: 0.6768327756840055
  rag_pipeline_variables: []
